<div *ngIf="zone">
  <p>
    Zone: {{ zone.name }}
    <button mat-raised-button color="accent" (click)="helloClick($event)">
      Add Device
    </button>
  </p>
  <ul>
    <strong>Device List:</strong>
    <li *ngFor="let d of zone.devices">
      <button mat-raised-button color="primary" (click)="expandDevice(d)">
        +/-
      </button>
      <a routerLink="/device/{{ d.mac }}" routerLinkActive="active">
        {{ d.name }}
      </a>
    </li>
    <br />
    <div *ngIf="selectedDevice">
      <app-device [device]="selectedDevice"></app-device>
    </div>
  </ul>
</div>
