<div *ngIf="device">
  <strong>Device: {{ device.name }}</strong>
  <br />
  Module: {{ device.mac }}
  <br />
  Type: {{ device.configuredIcon }}
  <br />
  Power: {{ powerState }}
  <br />
  <button mat-raised-button color="accent" (click)="sendPowerCommand($event)">
    Turn {{ powerState?.toUpperCase() === "ON" ? "OFF" : "ON" }}
  </button>
  <br />
  Connection: {{ liveLog?.lwt || "Offline" }}
  <br />
  Voltage:
  {{ (liveLog?.sensor.ENERGY.Voltage).toString() || "-" }}
  <br />
  Power: {{ (liveLog?.sensor.ENERGY.Power).toString() || "-" }}
  <br />
  Amps:
  {{ (liveLog?.sensor.ENERGY.Current).toString() || "-" }}
</div>
