<div *ngIf="device">
  <strong>Name: {{ device.name }}</strong>
  <p>MAC: {{ device.mac }}</p>
  <p>Type: {{ device.configuredIcon }}</p>
  <p>
    Power State: {{ powerState }}
    <button mat-raised-button color="accent" (click)="sendPowerCommand($event)">
      Turn {{ powerState?.toUpperCase() === "ON" ? "OFF" : "ON" }}
    </button>
  </p>
  <p>Connection: {{ liveLog?.lwt || "Offline" }}</p>
  <p>Amps: {{ liveLog?.sensor.ENERGY.Current }}</p>
  <p>Voltage: {{ liveLog?.sensor.ENERGY.Voltage }}</p>
  <p>Power: {{ liveLog?.sensor.ENERGY.Power }}</p>
</div>
