<div *ngIf="user">
  <p>
    Org: {{ user.organization.name }}
    <button mat-raised-button color="accent" (click)="addSite($event)">
      Add Site
    </button>
  </p>
  <ul>
    <strong>Site List:</strong>
    <li *ngFor="let site of user.organization.sites">
      <button mat-icon-button color="accent" (click)="expandSite(site)">
        <mat-icon>{{ selectedSite ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <a routerLink="/site/{{ site.id }}" routerLinkActive="active">
        {{ site.name }}
      </a>
      <button mat-raised-button color="accent" (click)="deleteSite(site.id)">
        Delete
      </button>
    </li>
    <div *ngIf="selectedSite">
      <app-site [site]="selectedSite"></app-site>
    </div>
  </ul>
</div>
