<h1><a routerLink="/" routerLinkActive="active">Ekami Minimal</a></h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <!-- <li>
      <a routerLink="mod" routerLinkActive="active">Modules</a>
    </li> -->
    <li>
      <a routerLink="exp" routerLinkActive="active">Explorer</a>
    </li>
    <li *ngIf="user">
      <a routerLink="org/{{ user.organization.id }}" routerLinkActive="active"
        >Organization</a
      >
    </li>
  </ul>
</nav>
<p *ngIf="user">User Name: {{ user.first_name + " " + user.last_name }}</p>
<p *ngIf="user">User Email: {{ user.email }}</p>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
