<h1>Ekami Minimal</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="exp/someRandomOrgID" routerLinkActive="active">Explorer</a>
    </li>
    <li>
      <a routerLink="mod" routerLinkActive="active">Modules</a>
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
