<div *ngIf="floor">
  <p>Floor: {{ floor.name }}</p>
  <ul>
    <strong>Zone List:</strong>
    <li *ngFor="let zone of floor.zones">
      <button mat-icon-button color="accent" (click)="expandZone(zone)">
        <mat-icon>{{ selectedZone ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <a routerLink="/zone/{{ zone.id }}" routerLinkActive="active">
        {{ zone.name }}
      </a>
    </li>
    <div *ngIf="selectedZone">
      <app-zone [zone]="selectedZone"></app-zone>
    </div>
  </ul>
</div>
