<div *ngIf="floor">
  <p>
    Floor: {{ floor.name }}
    <button mat-raised-button color="accent" (click)="addZone($event)">
      Add Zone
    </button>
  </p>
  <ul>
    <strong>Zone List:</strong>
    <li *ngFor="let zone of floor.zones">
      <button mat-icon-button color="accent" (click)="expandZone(zone)">
        <mat-icon>{{ selectedZone ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <a routerLink="/zone/{{ zone.id }}" routerLinkActive="active">
        {{ zone.name }}
      </a>
      <button mat-raised-button color="accent" (click)="deleteZone(zone.id)">
        Delete
      </button>
    </li>
    <div *ngIf="selectedZone">
      <app-zone [zone]="selectedZone"></app-zone>
    </div>
  </ul>
</div>
