<div *ngIf="org">
  <p>Org: {{ org.name }}</p>
  <ul>
    <strong>Site List:</strong>
    <li *ngFor="let site of org.sites">
      <button mat-icon-button color="accent" (click)="expandSite(site)">
        <mat-icon>{{ selectedSite ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
      <a routerLink="/site/{{ site.id }}" routerLinkActive="active">
        {{ site.name }}
      </a>
    </li>
    <div *ngIf="selectedSite">
      <app-site [site]="selectedSite"></app-site>
    </div>
  </ul>
</div>
