/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100%;
  font-size: 22px;
  font-family: monospace;
  background-color: #272822;
  color: #f8f8e5;
}
a {
  color: #946ac8;
}
ul {
  list-style-type: none;
}

.full-width {
  width: 100%;
}
